<a href="https://colab.research.google.com/github/Narcilaq/Monografia/blob/main/Generaci%C3%B3n_de_nuevos_datos_2da_Iteraci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Carga de las Librerías**

In [1]:
import numpy as np
import pandas as pd
import random

import matplotlib.pyplot as plt
from matplotlib import ticker

# **Generación de Datos para Entrenamiento**

Se genera un nuevo Dataset sintético, pero en esta ocasión a diferencia del primer set de datos donde los datos se generaron desde la hora 12 a la 24, en esta ocasión se generará desde la hora 11 a 24, puesto que se planea obtener no le dato de deformación sino la diferencia entre los registros consecutivos (tasa de variación)

In [2]:
xmin = 11
xmax = 24
t = np.linspace(xmin,xmax,xmax-xmin+1)
P_var = 0.0005
var = 1+np.random.uniform(-P_var,P_var,len(t))

Nivel_Alerta_1_Verde = []

for i in range(1000):

  L = random.uniform(0.01000, 0.10000)
  k = random.uniform(0.01000, 0.0256)

  def DeformacionConVariabilidad(t0):
    return (t-11), (L / (1. + np.exp(-k * (t - t0))*var)*-1)
  
  MiDefConVar=DeformacionConVariabilidad(24)
  Nivel_Alerta_1_Verde.append([MiDefConVar[1]])


Nivel_Alerta_2_Amarillo = []

for i in range(1000):

  L = random.uniform(0.10001, 0.50000)
  k = random.uniform(0.02560, 0.03024)
  
  def DeformacionConVariabilidad(t0):
    return (t-11), (L / (1. + np.exp(-k * (t - t0))*var)*-1)
  
  MiDefConVar=DeformacionConVariabilidad(24)
  Nivel_Alerta_2_Amarillo.append([MiDefConVar[1]])


Nivel_Alerta_3_Naranja = []

for i in range(1000):

  L = random.uniform(0.50001, 1.00000)
  k = random.uniform(0.03024, 0.04117)
  
  def DeformacionConVariabilidad(t0):
    return (t-11), (L / (1. + np.exp(-k * (t - t0))*var)*-1)
  
  MiDefConVar=DeformacionConVariabilidad(24)
  Nivel_Alerta_3_Naranja.append([MiDefConVar[1]])


Nivel_Alerta_4_Roja = []

for i in range(1000):

  L = random.uniform(1.0500, 1.20000)
  k = random.uniform(0.04118, 0.05265)
  
  def DeformacionConVariabilidad(t0):
    return (t-11), (L / (1. + np.exp(-k * (t - t0))*var)*-1)
  
  MiDefConVar=DeformacionConVariabilidad(24)
  Nivel_Alerta_4_Roja.append([MiDefConVar[1]])

In [3]:
d_Al1 = pd.DataFrame(np.concatenate(Nivel_Alerta_1_Verde))
d_Al1 = d_Al1.assign(Target='Alerta_1')

d_Al2 = pd.DataFrame(np.concatenate(Nivel_Alerta_2_Amarillo))
d_Al2 = d_Al2.assign(Target='Alerta_2')

d_Al3 = pd.DataFrame(np.concatenate(Nivel_Alerta_3_Naranja))
d_Al3 = d_Al3.assign(Target='Alerta_3')

d_Al4 = pd.DataFrame(np.concatenate(Nivel_Alerta_4_Roja))
d_Al4 = d_Al4.assign(Target='Alerta_4')  

Data_Iter_2 = pd.concat([d_Al1, d_Al2, d_Al3, d_Al4], axis=0)

Data_Iter_2.to_excel('2do_Dataset.xlsx')

Data_Iter_2.head(15)

           0         1         2  ...        12        13    Target
0  -0.018153 -0.018251 -0.018353  ... -0.019352 -0.019453  Alerta_1
1  -0.018583 -0.018700 -0.018820  ... -0.020009 -0.020129  Alerta_1
2  -0.040692 -0.040914 -0.041144  ... -0.043408 -0.043637  Alerta_1
3  -0.041160 -0.041490 -0.041829  ... -0.045190 -0.045529  Alerta_1
4  -0.034403 -0.034589 -0.034781  ... -0.036678 -0.036870  Alerta_1
5  -0.020712 -0.020880 -0.021054  ... -0.022773 -0.022947  Alerta_1
6  -0.016523 -0.016769 -0.017018  ... -0.019531 -0.019786  Alerta_1
7  -0.009546 -0.009683 -0.009823  ... -0.011227 -0.011369  Alerta_1
8  -0.032428 -0.032808 -0.033196  ... -0.037078 -0.037470  Alerta_1
9  -0.038575 -0.038998 -0.039429  ... -0.043741 -0.044176  Alerta_1
10 -0.036731 -0.037218 -0.037715  ... -0.042696 -0.043199  Alerta_1
11 -0.019527 -0.019806 -0.020090  ... -0.022948 -0.023237  Alerta_1
12 -0.036180 -0.036383 -0.036593  ... -0.038667 -0.038877  Alerta_1
13 -0.018746 -0.018945 -0.019149  ... -0.021186 -0.021392  Alerta_1
14 -0.035707 -0.036066 -0.036432  ... -0.040087 -0.040456  Alerta_1

[15 rows x 15 columns]

Generados los nuevos datos sintéticos se realiza un feature engineering transformando los datos de deformación bruta entre las 11 y 24 horas a las tasas de cambio registradas entre las 12 y 24 horas.

In [4]:
Labels = Data_Iter_2.Target
Data_Iter_2 = (Data_Iter_2.drop(['Target'], axis =1).diff(axis=1).drop([0], axis =1))
Data_Iter_2['Target'] = Labels
Data_Iter_2.columns =['Señal_0', 'Señal_1', 'Señal_2', 'Señal_3', 'Señal_4', 'Señal_5','Señal_6', 
               'Señal_7', 'Señal_8', 'Señal_9', 'Señal_10', 'Señal_11','Señal_12','Target']
Data_Iter_2.head()

    Señal_0   Señal_1   Señal_2  ...  Señal_11  Señal_12    Target
0 -0.000098 -0.000102 -0.000098  ... -0.000101 -0.000101  Alerta_1
1 -0.000117 -0.000120 -0.000116  ... -0.000120 -0.000120  Alerta_1
2 -0.000222 -0.000230 -0.000221  ... -0.000229 -0.000229  Alerta_1
3 -0.000330 -0.000339 -0.000330  ... -0.000340 -0.000340  Alerta_1
4 -0.000186 -0.000193 -0.000185  ... -0.000192 -0.000192  Alerta_1

[5 rows x 14 columns]

In [5]:
Data_Iter_2.to_excel('2do_Dataset_Tasas.xlsx')